<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="cool-font text-center">{{title}}</p>
            <br>
            <div class="centered form-group">
                <form method="post" action="/submit">
                    <input class="form-control input-lg" type="text" id="inputLarge" style="margin:0 auto;" value="" name="burger-type" placeholder="Eat that Burger" id="new-burger" required>
                    <button type="submit" class="btn-lg btn-primary submit center-block" id="add-new-burger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
